// colors

$cLinkMain: #007bff;
$cLinkMainHover: darken(#007bff, 15%);

$cSpinner: #73b683;
$cBackdrop: #fefefe;
//$cModal: rgba(0, 0, 0, 0.43);

$cError: #dc3545;

$cSort: #dddddd;
$cSortActive: #399cff;
$cSortReset: #dc3545;
