@import "variables";

// page
.page-loader {
  animation-duration: 1.2s;
  color: $cSpinner;
  left: calc(50% - 1.5rem);
  position: absolute;
  top: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
  z-index: 1400;
}

.page-loading {
  opacity: 0.5;
}

// table
.table-controls {
  margin-top: 60px;
}

.table-products {

  .product {
    &:hover {
      background-color: rgba(173, 191, 255, 0.1);
      transition: 0.2s;
    }

    td:first-child {
      text-align: right;
    }

    &-count {
      background-color: #ffc107;
      border-radius: 50%;
      color: #fff;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      padding: 3px 5px;
    }

    &-name {
      color: $cLinkMain;
      cursor: pointer;
      transition: 0.2s;

      &:hover, &:active {
        box-shadow: 0 1px 0 0 $cLinkMainHover;
        color: $cLinkMainHover;
      }
    }
  }
}

// forms

.form-fieldset {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;

  .form-legend {
    color: #898d98;
    font-size: 1rem;
    margin-bottom: 0;
    padding: 0 5px;
    width: auto;
  }
}

.form-search {
  .input-search {
    border-radius: 4px 0 0 4px;
    box-shadow: none;
  }

  .btn-search {
    border-radius: 0 4px 4px 0;
    padding: 7px 30px;
  }
}

// modals

.modal-main {
  //background: $cModal;
  display: none;
  position: fixed;

  &.show {
    display: block;
    padding-right: 16px;
  }

  .modal-footer {
    justify-content: flex-start;
    border: 0;
    padding-top: 0;
  }
}

.modal-backdrop {
  background-color: $cBackdrop;
  opacity: 0.8;
}

// alerts

.alert-main {
  max-width: 300px;
  position: absolute;
  bottom: 40px;
  right: 60px;
}
