@import "variables";

//general
a {
  color: $cLinkMain;
  transition: 0.2s;
  text-decoration: none;

  &:hover, &:active {
    box-shadow: 0 1px 0 0 $cLinkMainHover;
    color: $cLinkMainHover;
    text-decoration: none;
  }
}

// page
.spinner-loader {
  position: fixed;
  left: calc(50% - 90px);
  top: 50%;
  width: 180px;
  text-align: center;

  .spinner-grow {
    animation-duration: 1s;
    color: $cSpinner;
    margin: 0 10px;
  }
}

.page-loading {
  opacity: 0.5;
}

// table
.table-controls {
  padding-top: 60px;
}

.table-products {

  .product {
    &:hover {
      background-color: rgba(173, 191, 255, 0.1);
      transition: 0.2s;
    }

    &-count {
      float: right;
      margin: 0 15px;
    }

    &-name {
      @extend a;
      cursor: pointer;
    }
  }

  .sortable {
    cursor: pointer;
  }

  .sort {
    float: right;
    margin: 0 15px;

    span {
      background-color: $cSort;
      display: inline-block;
      width: 2px;
      height: 10px;
      margin: 0 2px;
    }

    &-asc {
      span {
        &:first-child {
          height: 5px;
        }

        &:last-child {
          height: 15px;
        }
      }
    }

    &-desc {
      span {
        &:first-child {
          height: 15px;
        }

        &:last-child {
          height: 5px;
        }
      }
    }

    &-active {
      span {
        background-color: $cSortActive;
      }
    }
  }
}

// forms

.form-fieldset {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;

  .form-legend {
    color: #898d98;
    font-size: 1rem;
    margin-bottom: 0;
    padding: 0 5px;
    width: auto;
  }
}

.form-search {
  .input-search {
    border-radius: 4px 0 0 4px;
    box-shadow: none;
  }

  .btn-search {
    border-radius: 0 4px 4px 0;
    padding: 7px 30px;
  }

  .btn-search-reset {
    display: none;
    margin-left: -32px;
    color: red;
    padding: 5px 10px;
  }
}

.invalid-message {
  font-size: 80%;
  color: $cError;
}

.invalid-input, .invalid-input:focus {
  border-color: $cError;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

// modals

.modal-main {
  //background: $cModal;
  display: none;
  position: fixed;

  &.show {
    display: block;
    padding-right: 16px;
  }

  .modal-footer {
    justify-content: flex-start;
    border: 0;
    padding-top: 0;
  }
}

.modal-backdrop {
  opacity: 0.5;

  &.backdrop-light {
    background-color: $cBackdrop;
  }
}

// alerts

.alert-main {
  max-width: 300px;
  margin: 0 auto;
  position: absolute;
  bottom: 40px;
  right: 0;
  left: 0;
  z-index: 1100;
}
